.table {
  margin: 15px 0;
  text-align: center;
}

.table thead th {
    text-align: center;
}

.table button {
  margin: 0 5px;
}

.product-form {

}
.product-form .FormInput {
  margin-bottom: 20px;
}

.product-form input {
  width: 100%;
}

.product-form input:disabled {
  background-color: #ccc;
  border: 1px solid #a5a5a5;
  opacity: 0.5;
  color: #a5a5a5;
  cursor: no-drop;
}

.product-form .half {
  float: left;
  width: 50%;
}

.product-form .FormError {
  color: red;
  font-style: italic;
  font-size: small;
}

.inline {
  display: inline;
}
